/* body.dark-mode */

:root {
	--darkmode-fiken-dark: rgb(47, 52, 55);
	--darkmode-fiken-dark-lighter: rgb(55, 60, 63);
	--darkmode-fiken-dark-lighter-light: rgb(62,68,72);

}



body.dark-mode div#content {
	background-color: var(--darkmode-fiken-dark)!important;
}

body.dark-mode div#content .page-header h1 {
	color: #ffffff;
}

body.dark-mode #footer {
	background-color: var(--darkmode-fiken-dark-lighter);
	color: #ffffff;
}

body.dark-mode #footer a {
	color: #ffffff;
	text-decoration: underline;
}

/* Navbar */
body.dark-mode nav.navbar {
	background-color: var(--darkmode-fiken-dark-lighter)!important;
}

body.dark-mode #header a.header-btn {
	color: #ffffff!important;
}

body.dark-mode .navbar-default .navbar-nav > .open > a,body.dark-mode .navbar-default .navbar-nav > .open > a:focus,body.dark-mode .navbar-default .navbar-nav > .open > a:hover {
	background-color: var(--darkmode-fiken-dark-lighter)!important;
	color: #ffffff;
}

body.dark-mode #header .navbar-nav .dropdown-menu {
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode #header .navbar-nav .dropdown-menu .dropdown-header {
	color: rgba(255,255,255,0.5);
}
body.dark-mode #header .navbar-nav .dropdown-menu a, body.dark-mode #header .navbar-nav .dropdown-menu a:hover, body.dark-mode #header .navbar-nav .dropdown-menu a:focus {
	color: #ffffff;
}

body.dark-mode #header .navbar-nav .dropdown-menu a:hover, body.dark-mode #header .navbar-nav .dropdown-menu a:focus {
	background-color: var(--darkmode-fiken-dark-lighter);
	text-decoration: underline;
}



/* Panels */
body.dark-mode .panel {
	background-color: var(--darkmode-fiken-dark-lighter-light);
}

body.dark-mode .panel .panel-footer {
	background-color: var(--darkmode-fiken-dark-lighter)!important;
}

body.dark-mode .panel resultat-graf2 > div {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 2rem 0;
}
/* Fiken logo */
body.dark-mode .navbar-brand svg .fk-meny-logo-topp {
	fill: #EEEEEE;
}

body.dark-mode .navbar-brand svg .fk-meny-logo-bunn {
	fill: #757575;
}
