/* body.dark-mode */

:root {
	--darkmode-fiken-dark: rgb(47, 52, 55);
	--darkmode-fiken-dark-lighter: rgb(55, 60, 63);
	--darkmode-fiken-dark-lighter-light: rgb(62,68,72);

}



body.dark-mode div#content {
	background-color: var(--darkmode-fiken-dark)!important;
}

body.dark-mode div#content .page-header h1 {
	color: #ffffff;
}

body.dark-mode #footer {
	background-color: var(--darkmode-fiken-dark-lighter);
	color: #ffffff;
}

body.dark-mode #footer a {
	color: #ffffff;
	text-decoration: underline;
}

/* Navbar */
body.dark-mode nav.navbar {
	background-color: var(--darkmode-fiken-dark-lighter)!important;
}

body.dark-mode #header a.header-btn {
	color: #ffffff!important;
}

body.dark-mode .navbar-default .navbar-nav > .open > a,body.dark-mode .navbar-default .navbar-nav > .open > a:focus,body.dark-mode .navbar-default .navbar-nav > .open > a:hover {
	background-color: var(--darkmode-fiken-dark-lighter)!important;
	color: #ffffff;
}

body.dark-mode #header .navbar-nav .dropdown-menu {
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode #header .navbar-nav .dropdown-menu .dropdown-header {
	color: rgba(255,255,255,0.5);
}
body.dark-mode #header .navbar-nav .dropdown-menu a, body.dark-mode #header .navbar-nav .dropdown-menu a:hover, body.dark-mode #header .navbar-nav .dropdown-menu a:focus {
	color: #ffffff;
}

body.dark-mode #header .navbar-nav .dropdown-menu a:hover, body.dark-mode #header .navbar-nav .dropdown-menu a:focus {
	background-color: var(--darkmode-fiken-dark-lighter);
	text-decoration: underline;
}



/* Panels */
body.dark-mode .panel {
	background-color: var(--darkmode-fiken-dark-lighter-light);
}

body.dark-mode .panel .panel-title {
	color: #ffffff;
}
body.dark-mode .panel .panel-body .flexy-body a, body.dark-mode .panel .panel-body .flexy-body, body.dark-mode .panel .panel-body .key-number-body{
	color: #ffffff;
}

body.dark-mode .panel .panel-body .flexy-icon svg > path {
	fill: #ffffff;
}

body.dark-mode .panel .panel-footer {
	background-color: var(--darkmode-fiken-dark-lighter)!important;
}

body.dark-mode .panel resultat-graf2 > div {
	background-color: #ffffff;
	border-radius: 8px;
	padding: 2rem 0;
}



/* Tables */
body.dark-mode .table .aktiv h4 {
	color: #ffffff;
}
body.dark-mode .table .aktiv .well,body.dark-mode .table .aktiv .innboks-forslag-options a {
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode .table .aktiv .innboks-forslag-options a .ng-scope {
	color: rgba(255,255,255,0.5)
}
body.dark-mode .table .aktiv .innboks-forslag-options a.active::after {
	width: 4px;
}
body.dark-mode .table .aktiv .innboks-forslag-options a {
	border-color: var(--darkmode-fiken-dark);
}
body.dark-mode .table .aktiv .ng-binding {
	color: #ffffff;
	text-decoration: underline;
}
body.dark-mode .table .aktiv .ng-binding:hover {
	color: rgba(255,255,255,0.8);
}
body.dark-mode .table .aktiv .ki-status {
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode .table .aktiv .har-innboks-forslag::after {
	color: rgba(255,255,255,0.6);
}

body.dark-mode .table .aktivert.muted {
	color: #ffffff;
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode .table .table {
	color: #ffffff;
	background-color: var(--darkmode-fiken-dark-lighter);
}



/* Modal */
body.dark-mode .modal-dialog .modal-content {
	background-color: var(--darkmode-fiken-dark-lighter-light);
	color: #ffffff;
}

body.dark-mode .modal-dialog .modal-content .panel-body,body.dark-mode .modal-dialog .modal-content .panel-body .list-group-item {
	background-color: var(--darkmode-fiken-dark-lighter-light);
	color: #ffffff;
}

body.dark-mode .modal-dialog .modal-content .bg-default-light, body.dark-mode .modal-dialog .modal-content .well,body.dark-mode .modal-dialog .modal-content .vis-bilag .list-group-item
,body.dark-mode .modal-dialog .modal-content .media, body.dark-mode .modal-dialog .modal-content .media > div, body.dark-mode .modal-dialog .modal-content .list-group-item, body.dark-mode .modal-dialog .modal-content .bg-default   {
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode .modal-dialog .modal-content .media a {
	background-color: rgba(255,255,255,0);
}
body.dark-mode .modal-dialog .modal-content .list-group-item {
	border-color: var(--darkmode-fiken-dark);
}

body.dark-mode .modal-dialog .modal-content button, body.dark-mode .modal-dialog .modal-content a {
	color: #ffffff;
	text-decoration: underline;
	background: var(--darkmode-fiken-dark-lighter-light);
}

body.dark-mode .modal-dialog .modal-content button.styled-combobox-toggle {
	background: var(--darkmode-fiken-dark-lighter-light);
	border-color: var(--darkmode-fiken-dark);
}

body.dark-mode .modal-dialog .modal-content button:hover, body.dark-mode .modal-dialog .modal-content a:hover {
	color: rgba(255,255,255,0.8);
	text-decoration: underline;
}

body.dark-mode .modal-dialog .modal-content .modal-header {
	background-color: var(--darkmode-fiken-dark-lighter);
}
body.dark-mode .btn-success {
	background-color: #009975!important;
	color: #ffffff;
}
body.dark-mode .btn-danger {
	background-color: #cc004b!important;
	color: #ffffff;
}


/* Searchbox */
body.dark-mode .spotlight-wrapper input {
	background-color: var(--darkmode-fiken-dark-lighter-light);
	color: #ffffff;
}
body.dark-mode .spotlight-wrapper .input-group-btn button {
	background-color: var(--darkmode-fiken-dark-lighter);
}

body.dark-mode .spotlight-wrapper .input-group-btn button svg {
	stroke: #ffffff;
}



/* Fiken logo */
body.dark-mode .navbar-brand svg .fk-meny-logo-topp {
	fill: #EEEEEE;
}

body.dark-mode .navbar-brand svg .fk-meny-logo-bunn {
	fill: #757575;
}
